a {
  text-decoration: none;
}

body {
  background: -webkit-linear-gradient(top, #94a3f5, #5c64aa);
  background-repeat: no-repeat;
}

label {
  font-family: "Raleway", sans-serif;
  font-size: 11pt;
}


#card {
  background: #fbfbfb;
  border-radius: 8px;
  height: 510px;
  margin: 6rem auto 8.1rem auto;
  width: 500px;
}

#card-content {
  padding: 12px 44px;
}

#card-title {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
}


#card-guess {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 1px;
  padding-bottom: 1px;
  padding-top: 1px;
  text-align: center;
}

.submit-btn {
  background: -webkit-linear-gradient(right,  #94a3f5, #5c64aa);
  border: none;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 25px;
  transition: 0.25s;
  width: 153px;
}


.form {
  align-items: left;
  display: flex;
  flex-direction: column;
}

.form-border {
  background: -webkit-linear-gradient(right,  #94a3f5, #5c64aa);
  height: 1px;
  width: 100%;
}

.form-content {
  background: #fbfbfb;
  border: none;
  outline: none;
  padding-top: 14px;
}

.underline-title {
  background: -webkit-linear-gradient(right, #94a3f5, #5c64aa);
  height: 2px;
  margin: -1.1rem auto 0 auto;
  width: 89px;
}