body {
    background: #3498db;
    font-family: sans-serif;
  }
   
  h2 {
    color: #fff;
  }
   
  .login {
    padding: 1em;
    margin: 2em auto;
    width: 17em;
    background: #fff;
    border-radius: 3px;
  }
   
  label {
    font-size: 10pt;
    color: #555;
  }
   
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="time"],
  textarea {
    padding: 8px;
    width: 95%;
    background: #efefef;
    border: 0;
    font-size: 10pt;
    margin: 6px 0px;
  }
   
  .tombol {
    background: #3498db;
    color: #fff;
    border: 0;
    padding: 5px 8px;
  }

  .error{
    color: rgb(255, 0, 0);
    padding: 2px 3px;
    font-size: 10pt;
  }

  * {
    box-sizing: content-box;
}

.form {
    padding: 10px;
    margin: 10px;
}

.input-control {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.input-control input {
    border-radius: 4px;
    font-size: 12px;
    padding: 10px;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}